name: build-windows

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: write
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: setup
        run: rustup toolchain install stable --profile minimal --no-self-update

      - name: build
        run: cargo build --release

      - name: install cargo-get
        run: cargo install cargo-get

      - name: get package name
        shell: bash
        run: echo "PACKAGE_NAME=$(cargo get package.name)" >> $GITHUB_ENV

      - name: print package name
        run: echo "Package is ${{ env.PACKAGE_NAME }}"

      - name: release
        uses: softprops/action-gh-release@v2
        with:
          files: target/release/${{ env.PACKAGE_NAME }}.exe
